body{
  background-color:black;
}
div{
  width:50%;
  margin-left:25%;
  margin-top:100px;
}
#image{
  border:5px solid white;
  width:100%;
}
h1{
  font-family:Regular Libre Baskerville;
  color:white;
  text-align: center;
}
p{
  color:white;
  text-align:center;
}

